.container {
	max-width: 980px;
	text-align: center;
	margin: 20px auto;
}

h1 {
	margin-bottom: 20px;
}

#geocoding_form {
	margin: 40px auto 60px;
}

#address {
	border-radius: 3px;
}

.input-group {
	margin-left: 4%;
}

.glyphicon {
	font-size: 18px;
	z-index: 20;
	cursor: pointer;
}

.glyphicon-search{
	position: relative;
	right: 30px;
}

.current-location {
	margin-top: 30px;
}

#save-location {
	display: inline;
	margin: 10px auto;
	line-height: 1.4;
}

.current-location .glyphicon-star, 
.current-location .glyphicon-star-empty {
	display: inline-block;
	margin-left: 10px;
	font-size: 22px;
	vertical-align: text-bottom;
}

.glyphicon-menu-right {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -9px;
}

.map-holder {
	max-width: 500px;
	height: 350px;
	margin: 0 auto;
	background-color: #FCFCFC;
	position: relative;
	border-radius: 2px;
}

.map-holder p {
	position: absolute;
	width: 84px;
	height: 22px;
	left: 50%;
	top: 50%;
	margin: -11px auto 0 -42px;
	font-size: 20px;
	color: #969FA8;
}

#map {
	max-width: 500px;
	height: 350px;
	margin: 0 auto;
}

.list-group {
	padding: 0 15px;
	margin-top: 50px;
}

.list-group-item {
	position: relative;
	padding: 10px 20px;
}

a.list-group-item {
	cursor: pointer;
}

a.list-group-item:hover {
	background-color: #F7FBFF;
}

a.active-location {
	background-color: #EEF6FF;
}

a.active-location:hover {
	background-color: #EBF3FC;
}

a.list-group-item span.createdAt {
	display: block;
	color: #969FA8;
	z-index: -1;
}

ul.menu{
    list-style:none;
    display: inline-block;
}

ul.menu li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;
    
    transition:0.3s;
}

ul.menu li:hover{
    background-color:#beecea;
}

ul.menu li.focused{
    color:#fff;
    background-color:#41c7c2;
}

p{
    padding-top:15px;
    font-size:12px;
}

input[type=text]{
    text-align: center;
    font: inherit;
    border: 6px solid #a3d8d6;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 384px;
    outline: none;
    display: block;
    color: #7B8585;
    margin: 0 auto 20px;
}

ul.rtsearch{
    list-style: none;
    display: inline-block;
    width: 420px;
    text-align: left;
}

ul.rtsearch li{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    
    transition: 0.3s;
}

ul.rtsearch li a{
    position: absolute;
    left: 160px;
    font-size: 12px;
    line-height: 16px;
    color: #969d9d;
}

ul.rtsearch li:hover{
    background-color:#d8f2f1;
}

h1{
    font-size:18px;
    margin-bottom:20px;
}

#services{
    list-style: none;
    display: inline-block;
    width: 340px;
    text-align: left;
}

#services p{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    
    transition: 0.3s;
}

#services p b{
    position: absolute;
    right: 28px;
    line-height: 16px;
    width: 100px;
    color: #808787;
    text-align: right;
}

#services p:hover{
    background-color:#d8f2f1;
}

#services p.active{
    color:#fff;
    background-color:#41c7c2;
}

#services p.active b{
    color: #fff;
}

#total{
    background: none !important;
    cursor: default !important;
    padding-top: 10px !important;
}

div.picture{
    display: inline-block;
    margin: 5px;
    cursor:pointer;
    position: relative;
}

div.picture.favorite:after{
    content: '❤';
    position: absolute;
    font-size: 80px;
    line-height: 100px;
    color: #FF224D;
    width: 100%;
    text-align: center;
    left: 0;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

.pictures, .favorites{
    white-space: nowrap;
    overflow-y: auto;
    margin-bottom: 20px;
    height: 400px;
    background-color: #F3F3F3;
}

.pictures p, .favorites p {
    padding-top: 100px;
    font-size: 13px;
}